/* Large desktops and laptops */
@media (max-width: 1200px) {

  #jstore-css #lsp-block-content .lsp-js-block-items{
    margin: 0 -1rem 0 -1rem;
    .lsp-block-item{
      width: calc(50% - 2rem);
    }
  }
}
@media (max-width: 1100px) {
  //.header_menu{
    #header{
        //display: flex;
        .header_menu{
          #lsp-block-userinfo--header{
            display: none;
          }
        }
        .header{
          .container{
            display: flex;

            .fr{
              flex: 1 1 auto;
            }
          }
          .search_box{
            width: auto;
          }
          .login{
            display: block;
          }
          #search{
            .search--popup{
              display: block;
            }
            #jstore-block-search--desktop{
              display: none;
            }
          }
        }
    }
}



@media (max-width: 1000px) {

  #jstore-css{
    .jstore-header-fixed{
      .jstore-header-wrap{
        .jstore-header-fixed-dropdown{
          font-size: 20px;
        }
      }
    }
    #lsp-block-content .lsp-js-block-items .lsp-block-item .lsp-block-item-name a{
      font-size: 16px;
      line-height: 1;
    }

  }
}
@media (max-width: 992px) {
  .jstore-header-fixed {
    .show-menu-burger{
      display: block;
      float: left;
      &:before,
      span,
      &:after{
        opacity: 1;
      }
    }
    .dropdown-menu-burger-content{
      position: relative;
      width: 0;
      a.all-menu{
        display: none;
      }
      #lsp-block-tree--header {
        display: none;
        background-color: $lessGrayColor;
        top: 67px;
        left: 0;
        border: 1px solid $mainColor;
        //margin: 0;
        //list-style: none;
        //padding-left: 10px;
        position: relative;
        //left: .5rem;
        //z-index: 5;
        //background-color: $mainColor;
        .lsp-js-menu-childs{
          left: 100%;
          top: 0;

        }
      }
    }

  }




  .jstore-header-fixed ul.jstore-header-menu li{
    float: none;
  }

  #jstore-css #lsp-block-content .lsp-js-block-items .lsp-block-item{
    .lsp-block-item-name{
    }
  }
  #lsp-block-popup .lsp-popup-cont {
    width: 764px;
    margin-left: -382px;
  }
  #lsp-block-items-popup .lsp-popup-item-image-c,
  #lsp-block-items-popup .lsp-popup-item-description-block{
    margin: 1rem auto;
    float: none;
    height: auto;
  }
  #lsp-block-items-popup .lsp-popup-item-image{
    height: 300px;
    padding: 0;
  }
  #jstore-css #lsp-block-content .lsp-block-cartpage-inner{
    width: 100%;
  }
}

@media (max-width: 920px){
  .header #small_basket_box{
    padding: 0;
    margin: 16px 49px 28px 0;
    #lsp-block-cart--header{
      padding: 0 0 0 0;
      position: static;
      width: 0;
      height: 0;
      .lsp-block-cart-inner .lsp-info-message .jstore-js-cart-total-count {
        display: block;
        top: 0;
        left: 0;

      }
    }
    #lsp-block-cart--drop{
      top: 59px;
    }
    .lsp-block-cart-open--drop{
      width: 40px;
      height: 40px;
      position: static;
    }
    &:hover{
      background-color: $transparent;
    }
    }
    &::after,
    &::before{
      display: none;
    }
    //&:hover{
    //  background-color: $transparent;
    //}
  }



@media (max-width: 768px) {
  #header {
    .header_menu {
      #lsp-block-userinfo--header {
      }
    }

    .header {
      .container {
        padding: 10px;
        .fr {
          flex: 0 1 auto;
          margin: 0 0 0 auto;
          display: flex;
          align-items: center;
          align-content: center;
          .login{
            margin: 0;
          }
          .search_box{
            margin: 0 !important;
          }
          #small_basket_box{
            .lsp-block-cart-open--drop{
              position: static;
            }
            #lsp-block-cart--drop{
              top: 52px;
            }
            #lsp-block-cart--header{
              .lsp-block-cart-total{
                top: 0;
                left: 0;
              }
            }
          }
        }
      }
    }
  }
  #jstore-css .container{
    max-width: none;
  }

  #jstore-css .content-left-side {
    #lsp-block-tree,
    .lsp-js-recommendation-items,
    .lsp-cart-items-list,
    .lsp-info-message-bottom,
    .lsp-block-hh-product-title,
    .lsp-block-hh-product-image,
    .lsp-block-hh-product-desc,
    .lsp-block-hh-product-prices,
    .lsp-block-hh-countdown-title,
    .lsp-block-hh-countdown-time,
    .lsp-block-hh-add-to-cart,
    .lsp-block-js-gift-items,
    .lsp-block-gift-accept {
      display: none;
    }

    .lsp-block-hh-title {
      display: block;
    }

    .menu-more,
    .recommendation-more,
    .happy-hour-more,
    .lsp-block-gift-more,
    .cart-more,
    .cart-to-order {
      display: flex;
      top: 8px;
      right: 5px;
      border-radius: 22px;
    }
    .cart-more{
      right: 135px;
    }
    .jstore-block-search {
      position: relative;
      height: 46px;
      margin: 0 0 15px 0;

      .jstore-block-search-inner {
        height: 100%;
        padding: 0;
        margin: 0;
        .jstore-js-search-form {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          height: 100%;

          .lsp-block-userinfo-appeal {
            display: none;
          }

          .label-row {
            flex: 1 1 auto;
            margin: 0;

            .label-row-field-search {
              input {
                padding-right: 16%;
                height: 30px;
              }
            }
          }

          .lsp-block-search-order-button-cont {
            margin: 0;
            input {
              height: 100%;
            }
          }
        }
      }

    }

    .lsp-block-terminalinfo {
      margin: 0 0 15px 0;
      .lsp-block-restinfo-inner {
        .city-terminal-c {
          font-size: 18px;
          font-style: italic;
          text-transform: none;
          a.cityName {
            font-style: normal;
            font-size: 15px;
          }
        }
      }
    }

    #lsp-block-userinfo {
      margin: 0 0 15px 0;
      .lsp-block-userinfo-inner {
        .lsp-block-userinfo-appeal {
          font-size: 18px;
          text-transform: none;
          font-style: italic;
          float: left;
          padding-right: 20px;
        }
        a{
          font-size: 15px;
        }
      }
    }
    .nav-menu{
      margin: 0 0 15px 0;
      #lsp-block-tree {
      .lsp-js-menu-childs {
        width: 100%;
        word-break: break-all;
        margin: 0;

        li {
          a {
            font-size: 18px;
            font-style: italic;
            text-transform: none;
          }

          ul {
            li {
              a {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
    }
    .lsp-block-cart-wrapper{
      margin: 0 0 15px 0;
      #lsp-block-cart{
        margin: 0;
        .lsp-block-cart-inner{
          min-height: 0;
          .lsp-info-message{
            border: 0;
            padding: 0 40px 0 0;
            font-size: 18px;
            font-style: italic;
            word-break: break-word;
            text-transform: none;
            a{
              font-size: 18px;
              font-style: italic;
              text-transform: lowercase;
            }
            span {
              font-size: 18px;
              font-style: italic;
            }
          }
          .lsp-cart-items-list{
            margin: 30px 0 0 0;
          }
        }
      }
    }

    .lsp-block-gift-wrapper {
      margin: 0 0 15px 0;
      #lsp-block-gift{
        .lsp-block-gift-inner{
          .lsp-block-gift-title{
            margin: 0;
          }
          .lsp-block-js-gift-items{
            margin: 10px 0 0 0;
          }
        }
      }
    }
    .lsp-block-happy-hour-wrapper{
      margin: 0 0 15px 0;
      #lsp-block-happy-hour{
        .lsp-block-hh-inner{
          margin: 0;
          .lsp-block-hh-title{
            margin: 0;
          }
          .lsp-block-hh-product-title{
            margin: 10px 0 10px 0;
          }
        }
      }

    }
    .lsp-block-recommendation-wrapper{
      margin: 0 0 15px 0;
      #lsp-block-recommendation{
        margin: 0;
        h2.lsp-title{
          font-size: 18px !important;
          font-style: italic;
          text-transform: none;
        }
      }
    }

  }

  #jstore-css .content-right-side{
    padding: 0;
    margin: 20px 0 0 0;
  }

  #lsp-block-popup .lsp-popup-cont {
    width: 100%;
    margin-left: -50%;
  }
  #lsp-block-content .lsp-form .label-row.label-row-half{
    width: 100%;
  }
  .jstore-tag.lsp-block-cartpage-items tr td:first-child,
  .jstore-tag.lsp-block-cartpage-items tr th:first-child{
    display: none;
  }

}

@media (max-width: 665px) {
  #lsp-block-items-popup .lsp-modifier-item {
    display: inline-grid;
  }
  #lsp-block-items-popup .lsp-modifier-summ-c{
    margin-right: 30px;
  }
  #lsp-block-items-popup .lsp-modifier-name-c{
    margin-bottom: 5px;
  }
  #lsp-block-items-popup .lsp-popup-item-description-block{
    width: auto;
    padding: 0 30px;
  }
}

@media (max-width: 645px) {


  #jstore-css .content-left-side {
    .cart-more{
      font-size: 0;
      span.arrow{
        font-size: 18px;
      }
    }
    .lsp-block-menu-tree li{
      span.icon{
        top: 15px;
      }
    }
  }

}

@media (max-width: 610px) {

  #jstore-css {
    #lsp-block-tree--header {
      .lsp-js-menu-childs {
        width: 100%;
        word-break: break-word;
        margin: 0;
      }
    }


    .content-right-side {
      padding: 0;
      margin: 20px 0 0 0;

      #lsp-block-content .lsp-js-block-items .lsp-block-item {
        flex: 0 1 100%
      }
    }

    #lsp-block-popup .lsp-popup-cont {
      transform: translateY(-10px);
      overflow: auto;
      width: 100vw;
      height: 100vh;
      padding: 10px;
    }

    #lsp-block-items-popup .lsp-modifer-group-items,
    #lsp-block-items-popup .lsp-js-modifiers-container {
      text-align: center;
    }

    #lsp-block-items-popup .lsp-popup-item-description-block {
      padding: 0 10px;
    }

    #lsp-block-content .lsp-form .label-row-field, .jstore-tag .lsp-form .label-row-field {
      margin: 0;
      padding: 0 12px 0 0;
    }

    // sidebar для мобилок
    .nav-menu,
    .lsp-block-recommendation-wrapper,
    .lsp-block-cart-wrapper {
      background-color: $lessGrayColor;
    }

    .content-left-side {
      .lsp-block-item {
        .lsp-block-item-image {
        }

        .lsp-block-item-description {
        }

        .lsp-block-item-price {
        }

        .lsp-block-item-add-to-cart {
        }
      }

      #lsp-block-tree {
        margin: 0;
        display: none;

        li {
          //text-align: center;
          //text-transform: uppercase;

          a {
            //font-size: 24px;
            //padding: 0;
            //width: 100%;
          }

          ul {
            li {
              //border: 1px solid $lessGrayColor;
              //margin: 2px 10px;
            }
          }
        }
      }
    }


  }

  .nav-menu {
    background-color: $whiteColor;
    margin-bottom: 10px;
    position: relative;


    #lsp-block-cart {
      .lsp-block-cart-inner {
        .lsp-info-message {
          a {
          }

          span {
          }
        }

        .lsp-block-cart-item {
          .lsp-block-cart-item-name {
          }

          .lsp-block-cart-item-row-subname {
          }
        }
      }

      .lsp-info-message-bottom {
        & span {
        }
      }
    }

    .lsp-block-recommendation-wrapper {
      #lsp-block-recommendation {
        .lsp-title {
        }

        .lsp-js-recommendation-items {
          display: none;

          .lsp-block-item {
          }
        }
      }
    }
  }
}


@media (max-width: 520px) {

  #jstore-css .content-left-side #lsp-block-recommendation{
    text-align: left;
  }
}

@media (max-width: 500px) {
  .jstore-header-fixed-dropdown{
    .fixed-search .jstore-block-search{
      width: 200px;
    }
    #lsp-block-userinfo{
        width: auto;
    }
  }

  #jstore-css .content-left-side{
    #lsp-block-userinfo .lsp-block-userinfo-inner .lsp-block-userinfo-appeal{
      float: none;
    }
    .nav-menu{
      .menu-more{
        font-size: 0;
        span.arrow{
          font-size: 18px;
        }
      }
    }
    .lsp-block-cart-wrapper{
      .cart-more{
        right: 5px;
      }
      a.cart-to-order{
        display: none;
      }
    }
    .lsp-block-recommendation-wrapper{
      .recommendation-more{
        font-size: 0;
        span.arrow{
          font-size: 18px;
        }
      }
    }
    .lsp-block-happy-hour-wrapper{
      .happy-hour-more{
        font-size: 0;
        span.arrow{
          font-size: 18px;
        }
      }
    }
    .lsp-block-gift-wrapper{
      .lsp-block-gift-more{
        font-size: 0;
        span.arrow{
          font-size: 18px;
        }
      }
    }
  }
}

@media (max-width: 400px){
  #jstore-css .content-left-side {
    .lsp-block-terminalinfo {
      .lsp-block-restinfo-inner {
        .city-terminal-c {
          font-size: 16px;
          a.cityName {
            font-size: 14px;
          }
        }
      }
    }

    #lsp-block-userinfo {
      .lsp-block-userinfo-inner {
        .lsp-block-userinfo-appeal {
          font-size: 16px;
        }
        a{
          font-size: 14px;
        }
      }
    }
    .nav-menu{
      #lsp-block-tree {
        .lsp-js-menu-childs {
          li {
            a {
              font-size: 16px;
            }
            }
          }
        }
      }
    }
    .lsp-block-cart-wrapper{
      #lsp-block-cart{
        .lsp-block-cart-inner{
          .lsp-info-message{
            font-size: 16px;
            a{
              font-size: 16px;
            }
            span {
              font-size: 16px;
            }
          }
          .lsp-cart-items-list{
          }
        }
      }
    }

    .lsp-block-gift-wrapper {
      #lsp-block-gift{
        .lsp-block-gift-inner{
          .lsp-block-gift-title{
          }
          .lsp-block-js-gift-items{
          }
        }
      }
    }
    .lsp-block-happy-hour-wrapper{
      #lsp-block-happy-hour{
        .lsp-block-hh-inner{
          .lsp-block-hh-title{
          }
          .lsp-block-hh-product-title{
          }
        }
      }

    }
    .lsp-block-recommendation-wrapper{
      #lsp-block-recommendation{
        h2.lsp-title{
          font-size: 16px !important;
        }
      }
    }
}
