body{
  padding-top: 50px !important;
  &.search-page {
      padding: 0;
     border: 0;
    background: url(http://sdobnoe-mesto.ru/bitrix/templates/studiofact_getfood/images/site-bg-new3.jpg) repeat;
     border-radius: 0;
     margin-bottom: 0;
    position: relative;
    #left_side{
      .jstore-block-search{
        input[type="submit"]{
          position: static;
          padding: 8px 16px;
          border-radius: 22px;
        }
      }
    }
    .lsp-block-content{
    .jstore-js-search-form{
      display: flex;
      label{
        flex: 1 1 50%;
        max-width: 50%;
        display: inline-block;
        input.jstore-search-input{
          width: 100%;
          height: 100%;
        }
      }
      input[type="submit"]{
        position: static;
        padding: 8px 16px;
        border-radius: 22px;
      }
    }
    }
  }
}

.main #jstore-css{
  #left_side{
    background: none;
  }
}

@media screen and (max-width: 1020px){
  .header .search_box {
    display: block;
  }
}
@media screen and (max-width: 980px){
  .header .phone {
    position: static;
    margin: 16px 0 20px 0;
  }
}

@media (max-width: 768px) {
  #jstore-css{
    flex-direction: column;
  }
  .main .content{
    order: 2;
  }
  .is-catalog-page .left_side_container{
    order: 1;
    #left_side{
      display: block;
      width: 100%;
    }
  }

  .header .logo {
    margin: 5px 0 0 -72px;
  }
  .mobile_menu_list_header{
    margin: 17px 0 10px 10px;
    padding: 0;
    span.mobile{
      margin: 0;
    }
    .mobile_menu_list_header__text{
      margin: 9px 0 0 17px;
    }
  }
  #mobile_menu_list .mobile_dop_menu_list .user_auth{
    display: none;
  }
  .is-catalog-page .left_side_container {
    //display: none;
  }
  .header:not(.menu_search_container) .search_box input[type="text"] {
    display: block;
    top: 0;
    left: 0;
    z-index: 0;
  }
  body.search-page{
    padding: 50px 13px 13px 13px;
  }
}
@media (max-width: 460px) {
  #header{
    .header{
      a.logo{
        top: 6px;
        left: 130px;
      }
    }
  }
}
@media (max-width: 360px) {
  #header{
    .header{
      a.logo{
        img{
          max-width: 100px;
        }
      }
    }
  }
}