@charset "UTF-8";
.jstore-tag,
.jstore-tag.lsp-block-cart .lsp-info-message-bottom {
  font-family: "ComicSansMS", sans-serif;
}

.jstore-tag {
  color: #333;
  background: transparent;
}

.jstore-tag.lsp-button {
  background: #f1281e;
  color: #ffffff;
  border-radius: 22px;
}

.jstore-tag.lsp-button.jstore-out-of-stock {
  background: #595959;
}

.jstore-tag.lsp-button-plus,
.jstore-tag.lsp-button-minus,
.jstore-tag.lsp-button-cross {
  background: #f1281e;
  color: #ffffff;
}

.jstore-tag.lsp-button-plus.jstore-out-of-stock {
  background: #595959;
}

#lsp-block-content .lsp-block-cart-item.lsp-block-cart-item-disabled .jstore-tag.jstore-tag.lsp-button-cross,
.jstore-tag.lsp-block-cart .lsp-block-cart-item.lsp-block-cart-item-disabled .jstore-tag.jstore-tag.lsp-button-cross {
  color: #ffffff;
  background: #cf3734;
}

.jstore-tag.lsp-help-info {
  color: #cf3734;
}

.jstore-tag.lsp-button-plus:hover,
.jstore-tag.lsp-button-minus:hover,
.jstore-tag.lsp-button:hover {
  background: #ededed;
  color: #333;
  transition: .3s;
}

.jstore-tag.lsp-button-plus.jstore-out-of-stock:hover {
  background: #595959;
}

#lsp-block-userinfo .lsp-block-userinfo-inner,
.jstore-tag.lsp-js-user-auth,
#lsp-block-gift .lsp-block-gift-inner,
.jstore-tag.lsp-block-cart .lsp-block-cart-inner,
#lsp-block-happy-hour .lsp-block-hh-inner,
#lsp-block-restinfo .lsp-block-restinfo-inner,
#jstore-css .lsp-block-restinfo-inner,
.jstore-tag.jstore-block-search .jstore-block-search-inner {
  border-color: #f1281e;
}

.jstore-tag.lsp-block-cart .lsp-info-message {
  background: transparent;
  color: #ffffff;
}

.jstore-tag.lsp-block-cart .lsp-info-message .jstore-tag {
  color: #ffffff;
}

.jstore-tag.lsp-block-cart .lsp-block-cart-total,
.jstore-tag.lsp-block-cart .lsp-block-cart-sum,
#lsp-block-order-form .lsp-block-order-sum-item {
  color: #f1281e;
}

.jstore-tag.lsp-block-cartpage .lsp-block-cart-item-discount,
.jstore-tag.lsp-block-cartpage .lsp-block-cart-bonus,
.jstore-tag.lsp-block-cart .lsp-block-cart-item-discount,
.jstore-tag.lsp-block-cart .lsp-block-cart-bonus {
  color: #f1281e;
}

.jstore-tag.lsp-block-cart .lsp-block-cart-item {
  border-color: #d9d9d9;
}

.jstore-tag.lsp-block-cart .lsp-block-cart-item-price-c-count {
  color: #9e120a;
}

.jstore-tag.lsp-block-cart .lsp-block-cart-item-price-c-type {
  color: #9e120a;
}

.jstore-tag.lsp-block-cart .lsp-block-cart-item-amount-c-count {
  color: #9e120a;
}

.jstore-tag.lsp-block-cart .lsp-cart-item-modifier-c {
  background: #f1281e;
  color: #ffffff;
}

.jstore-tag.lsp-block-cart .lsp-cart-item-modifier-c .jstore-tag {
  color: #ffffff;
}

#lsp-block-content .lsp-block-cart-item.lsp-block-cart-item-disabled .jstore-tag,
.jstore-tag.lsp-block-cart .lsp-block-cart-item.lsp-block-cart-item-disabled .jstore-tag,
.jstore-tag.lsp-block-cart .lsp-block-cart-item.jstore-cart-item-stock-max .jstore-tag.lsp-help-info {
  color: #595959;
}

.jstore-tag.lsp-block-cart .lsp-block-cart-item.lsp-block-cart-item-disabled .jstore-tag.lsp-button-minus,
.jstore-tag.lsp-block-cart .lsp-block-cart-item.lsp-block-cart-item-disabled .jstore-tag.lsp-button-plus {
  color: #ffffff;
}

.jstore-tag.lsp-block-cart .lsp-block-cart-discount,
.jstore-tag.lsp-block-cart .lsp-block-cart-sum,
#lsp-block-order-form .lsp-block-order-sum-item {
  color: #f1281e;
}

#lsp-block-items-list .lsp-block-item,
#jstore-css .lsp-block-items-list .lsp-block-item {
  border-color: #fbc8c5;
}

.jstore-tag.lsp-block-item-tag:hover,
.jstore-tag.lsp-block-item-tag.lsp-block-item-tag-status-active,
.jstore-tag.lsp-block-tags-filter-status-active .lsp-block-tags-filter-item-icon,
.jstore-tag.lsp-block-tags-filter-item:hover .lsp-block-tags-filter-item-icon,
.jstore-tag.lsp-popup-inner .lsp-block-item-tag {
  background-color: #f1281e;
}

#lsp-block-items-list .lsp-block-item-price-value,
#jstore-css .lsp-block-items-list .lsp-block-item-price-value {
  color: #333;
}

#lsp-block-items-list .lsp-block-item-measurement,
#jstore-css .lsp-block-items-list .lsp-block-item-measurement {
  color: #333;
}

#lsp-block-popup .lsp-popup-placeholder {
  background: rgba(0, 0, 0, 0.7);
}

#lsp-block-popup .lsp-popup-cont {
  background: url(/bitrix/templates/studiofact_getfood/images/site-bg-new3.jpg) repeat;
}

#lsp-block-items-popup .lsp-modifiers-container {
  border-color: #d9d9d9;
}

#lsp-block-items-popup .lsp-popup-energy-cont {
  border-color: #d9d9d9;
}

#lsp-block-items-popup .lsp-modifier-summ-value {
  color: #f1281e;
}

#lsp-block-items-popup .lsp-modifier-summ-type {
  color: #f1281e;
}

.jstore-tag.lsp-type-modifier-item .jstore-tag.lsp-button {
  background: transparent;
  color: #333;
}

.jstore-tag.lsp-type-modifier-item .jstore-tag.lsp-button.lsp-button-red,
.jstore-tag.lsp-type-modifier-item .jstore-tag.lsp-button:hover {
  background: #f1281e;
  color: #ffffff;
}

#lsp-block-items-popup .lsp-modifier-group.lsp-modifier-group-error .lsp-modifier-group-title-text,
#lsp-block-items-popup .lsp-modifier-group.lsp-modifier-group-error .lsp-modifer-group-minmax-delimeter,
#lsp-block-items-popup .lsp-modifier-group.lsp-modifier-group-error .lsp-modifer-group-minmax-title,
#lsp-block-items-popup .lsp-modifier-group.lsp-modifier-group-error .lsp-modifer-group-minmax-value {
  color: #f1281e;
}

#lsp-block-items-popup .lsp-modifer-group-error {
  color: #f00;
}

#lsp-block-city-change .cityItem,
#lsp-block-terminal-change .cityItem {
  border-color: transparent;
}

#lsp-block-city-change .cityItem:hover,
#lsp-block-terminal-change .cityItem:hover {
  color: #ffffff;
  background-color: #f1281e;
}

.jstore-tag.lsp-block-menu-tree li a.child-selected,
.jstore-tag.lsp-block-menu-tree li a.selected,
.jstore-tag.lsp-block-menu-tree li a:hover {
  color: #9e120a;
}

#lsp-block-content .lsp-block-orders-list-status,
#jstore-css .jstore-block .lsp-block-orders-list-status,
.jstore-tag .lsp-block-orders-list-status {
  color: #f1281e;
}

#lsp-block-content .lsp-block-orders-list td,
#jstore-css .jstore-block .lsp-block-orders-list td,
.jstore-tag .lsp-block-orders-list td {
  border-color: #d9d9d9;
}

#lsp-block-content .lsp-block-orders-list tr:last-child td,
#jstore-css .jstore-block .lsp-block-orders-list tr:last-child td,
.jstore-tag .lsp-block-orders-list tr:last-child td {
  border-color: transparent;
}

#lsp-block-content .lsp-form .label-row-field select,
#jstore-css .jstore-block .lsp-form .label-row-field select,
#lsp-block-content .lsp-form .label-row-field input[type=text],
#jstore-css .jstore-block .lsp-form .label-row-field input[type=text],
#lsp-block-content .lsp-form .label-row-field input[type=number],
#jstore-css .jstore-block .lsp-form .label-row-field input[type=number],
#lsp-block-content .lsp-form .label-row-field input[type=password],
#jstore-css .jstore-block .lsp-form .label-row-field input[type=password],
#lsp-block-content .lsp-form .label-row-field textarea,
#jstore-css .jstore-block .lsp-form .label-row-field textarea,
.jstore-tag .lsp-form .label-row-field select,
.jstore-tag .lsp-form .label-row-field input[type=text],
.jstore-tag .lsp-form .label-row-field input[type=number],
.jstore-tag .lsp-form .label-row-field input[type=password],
.jstore-tag .lsp-form .label-row-field textarea {
  border-color: #d9d9d9;
  background: #ffffff;
}

#lsp-block-content .lsp-form .lsp-form-success-mess,
#jstore-css .jstore-block .lsp-form .lsp-form-success-mess,
#lsp-block-content .lsp-form .lsp-form-error-mess,
#jstore-css .jstore-block .lsp-form .lsp-form-error-mess,
.jstore-tag .lsp-form .lsp-form-success-mess,
.jstore-tag .lsp-form .lsp-form-error-mess {
  background: transparent;
  color: #f00;
}

#lsp-block-content .lsp-form .lsp-form-success-mess,
#jstore-css .jstore-block .lsp-form .lsp-form-success-mess,
.jstore-tag .lsp-form .lsp-form-success-mess {
  color: #f1281e;
}

#lsp-block-content .lsp-form .send-review-button,
#jstore-css .jstore-block .lsp-form .send-review-button,
.jstore-tag .lsp-form .send-review-button {
  background-color: #f1281e;
  color: #ffffff;
}

#lsp-block-content .lsp-form .send-reg-button,
#jstore-css .jstore-block .lsp-form .send-reg-button,
.jstore-tag .lsp-form .send-reg-button {
  border-color: #f1281e;
  color: #ffffff;
}

#lsp-block-kladr-autocomplete ul {
  border-color: #595959;
  background-color: #ffffff;
}

#lsp-block-kladr-autocomplete li {
  border-color: #ffffff #ffffff #d9d9d9;
}

#lsp-block-kladr-autocomplete li.active {
  background-color: #e5e5e5;
}

#lsp-block-kladr-autocomplete ul {
  background: #ffffff;
  border-color: transparent #d9d9d9 #d9d9d9 #d9d9d9;
}

#lsp-block-kladr-autocomplete li {
  border-color: #d9d9d9;
}

#lsp-block-kladr-autocomplete li:hover a,
#lsp-block-kladr-autocomplete li a:hover {
  color: #333;
}

#lsp-block-kladr-autocomplete li .ac-s {
  color: #fbc8c5;
}

#lsp-block-kladr-autocomplete li .ac-s2 {
  color: #333;
}

#lsp-block-kladr-autocomplete li .ac-st {
  color: #595959;
}

#lsp-block-datetimepicker.xdsoft_datetimepicker {
  box-shadow: 0 5px 15px -5px #595959;
  background: #d9d9d9;
  border-bottom-color: #595959;
  border-left-color: #d9d9d9;
  border-right-color: #d9d9d9;
  border-top-color: #d9d9d9;
  color: #333;
}

#lsp-block-datetimepicker.xdsoft_datetimepicker iframe {
  background: transparent;
}

#lsp-block-datetimepicker .xdsoft_noselect::selection {
  background: transparent;
}

#lsp-block-datetimepicker .xdsoft_noselect::-moz-selection {
  background: transparent;
}

#lsp-block-datetimepicker.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box {
  border-bottom-color: #e5e5e5;
}

#lsp-block-datetimepicker.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div {
  background: #ffffff;
  border-top-color: #e5e5e5;
  color: #595959;
}

#lsp-block-datetimepicker.xdsoft_datetimepicker .xdsoft_label {
  background-color: #595959;
}

#lsp-block-datetimepicker.xdsoft_datetimepicker .xdsoft_label > .xdsoft_select {
  border-color: #d9d9d9;
  background: #595959;
}

#lsp-block-datetimepicker.xdsoft_datetimepicker .xdsoft_label > .xdsoft_select > div > .xdsoft_option:hover {
  color: #ffffff;
  background: #9e120a;
}

#lsp-block-datetimepicker.xdsoft_datetimepicker .xdsoft_label > .xdsoft_select > div > .xdsoft_option.xdsoft_current {
  background: #fbc8c5;
  box-shadow: #f1281e 0 1px 3px 0 inset;
  color: #ffffff;
}

#lsp-block-datetimepicker.xdsoft_datetimepicker .xdsoft_calendar td,
#lsp-block-datetimepicker.xdsoft_datetimepicker .xdsoft_calendar th {
  background: #ffffff;
  border-color: #e5e5e5;
  color: #595959;
}

#lsp-block-datetimepicker.xdsoft_datetimepicker .xdsoft_calendar th {
  background: #e5e5e5;
}

#lsp-block-datetimepicker.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_today {
  color: #fbc8c5;
}

#lsp-block-datetimepicker.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
#lsp-block-datetimepicker.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
#lsp-block-datetimepicker.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  background: #fbc8c5;
  box-shadow: #f1281e 0 1px 3px 0 inset;
  color: #ffffff;
}

#lsp-block-datetimepicker.xdsoft_datetimepicker .xdsoft_calendar td:hover,
#lsp-block-datetimepicker.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #9e120a !important;
}

#lsp-block-datetimepicker.xdsoft_datetimepicker .xdsoft_calendar th {
  color: #595959;
}

#lsp-block-datetimepicker.xdsoft_datetimepicker .xdsoft_copyright {
  color: #d9d9d9 !important;
}

#lsp-block-datetimepicker.xdsoft_datetimepicker .xdsoft_copyright a {
  color: #e5e5e5 !important;
}

#lsp-block-datetimepicker.xdsoft_datetimepicker .xdsoft_copyright a:hover {
  color: #595959 !important;
}

#lsp-block-datetimepicker .xdsoft_time_box {
  border-color: #d9d9d9;
}

#lsp-block-datetimepicker .xdsoft_scrollbar > .xdsoft_scroller {
  background: #d9d9d9 !important;
}

#lsp-block-gift .lsp-block-gift-item-name {
  color: #ffffff;
}

#lsp-block-happy-hour .lsp-block-hh-product-old-price {
  color: #595959;
}

#lsp-block-happy-hour .lsp-block-hh-product-new-price {
  color: #f1281e;
}

#lsp-block-happy-hour .lsp-block-hh-product-desc {
  color: #333;
}

#lsp-block-item-detail .lsp-modifiers-container {
  border-top-color: #d9d9d9;
}

#lsp-block-item-detail .lsp-detail-energy-cont {
  border-top-color: #d9d9d9;
}

#lsp-block-item-detail .lsp-modifier-item {
  background: transparent;
}

#lsp-block-item-detail .lsp-modifier-amont {
  color: #cf3734;
}

#lsp-block-item-detail .lsp-modifier-summ-value {
  color: #cf3734;
}

#lsp-block-item-detail .lsp-modifier-summ-type {
  color: #f1281e;
}

#lsp-block-item-detail .lsp-detail-price-total-valute,
#lsp-block-item-detail .lsp-detail-price-total {
  color: #f1281e;
}

#lsp-block-item-detail .lsp-modifier-group.lsp-modifier-group-error .lsp-modifier-group-title-text,
#lsp-block-item-detail .lsp-modifier-group.lsp-modifier-group-error .lsp-modifer-group-minmax-delimeter,
#lsp-block-item-detail .lsp-modifier-group.lsp-modifier-group-error .lsp-modifer-group-minmax-title,
#lsp-block-item-detail .lsp-modifier-group.lsp-modifier-group-error .lsp-modifer-group-minmax-value {
  color: #f1281e;
}

#lsp-block-item-detail .lsp-modifer-group-error {
  color: #f1281e;
}

#jstore-css .jstore-slider .lsp-slider-prev {
  background: #f1281e;
  color: #ffffff;
}

#jstore-css .jstore-slider .lsp-slider-next {
  background: #f1281e;
  color: #ffffff;
}

#lsp-block-content .jstore-order-status-item-content,
.jstore-tag .jstore-order-status-item-content {
  color: #000;
  border-color: #f1281e;
}

#lsp-block-content .jstore-order-status-active .jstore-order-status-item-content,
.jstore-tag .jstore-order-status-active .jstore-order-status-item-content {
  background: #f1281e;
  color: #ffffff;
}

#lsp-block-content .jstore-order-status-complete .jstore-order-status-item-content,
.jstore-tag .jstore-order-status-complete .jstore-order-status-item-content {
  border-color: #f7847e;
  background: #fbc8c5;
  color: #ffffff;
}

#lsp-block-items-popup .lsp-popup-price-total-valute,
#lsp-block-items-popup .lsp-popup-price-total {
  color: #f1281e;
}

html {
  box-sizing: border-box;
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

.jstore-tag.h1 {
  margin: 15px 0 15px 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

#jstore-css input {
  -webkit-appearance: auto;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

#jstore-css #lsp-block-content #lsp-block-order-form .lsp-form .lsp-js-submit,
#jstore-css #lsp-block-content .jstore-tag.lsp-button,
#jstore-css .jstore-tag.lsp-button-plus,
#jstore-css .jstore-tag.lsp-button-minus,
#jstore-css .jstore-tag.lsp-button-cross {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#jstore-css {
  display: flex;
}

#jstore-css .lsp-block-content--preloader {
  font-size: 40px;
  color: #ffffff;
  padding-top: 10px;
}

body {
  padding-top: 50px !important;
}

.main #jstore-css #left_side {
  background: none;
}

#jstore-css #lsp-block-content .lsp-block-cartpage-inner {
  width: 75%;
  margin: 0 auto;
  font-weight: 400;
}

#jstore-css #lsp-block-content .lsp-block-cartpage-inner .lsp-block-cartpage-items th {
  font-weight: 800;
}

#jstore-css #lsp-block-content .lsp-block-cartpage-inner .lsp-block-cartpage-items .lsp-block-cart-item .lsp-delete-item {
  background-size: contain;
  background-image: url(../images/close.png);
  width: 15px;
  height: 15px;
}

#jstore-css #lsp-block-content .lsp-block-cartpage-inner .lsp-block-cartpage-items .lsp-block-cart-item .lsp-cartblock-amount-cont {
  width: 120px;
  padding: 10px;
  text-align: left;
}

#jstore-css #lsp-block-content .lsp-block-cartpage-inner .lsp-block-cartpage-items .lsp-block-cart-item .lsp-cartblock-title {
  font-weight: 400;
}

#jstore-css #lsp-block-content .lsp-block-cartpage-inner .lsp-block-cartpage-items .lsp-block-cart-item .lsp-block-cartblock-item-price-c-count {
  font-weight: 800;
  color: #f1281e;
}

#jstore-css #lsp-block-content .lsp-block-cartpage-inner .jstore-cart-total,
#jstore-css #lsp-block-content .lsp-block-cartpage-inner .lsp-block-cart-total {
  font-weight: 800;
  color: #f1281e;
}

#jstore-css .lsp-js-delivery-type-cont input {
  min-width: 40px;
}

#jstore-css #lsp-block-order-form .lsp-js-form-field-payment_type_CASH_sum span.label-row-text {
  margin-right: 10px;
}

#jstore-css #lsp-block-order-form .js-terminal-on-map,
#jstore-css #lsp-block-order-form .label-row-text-info {
  display: none;
}

#jstore-css #lsp-block-order-form .lsp-js-form-field-userAgreement .label-row-field {
  font-size: 16px;
}

#jstore-css #lsp-block-order-form .lsp-js-form-field-userAgreement .label-row-field input {
  vertical-align: middle;
}

#jstore-css #lsp-block-order-form .lsp-js-form-field-userAgreement .label-row-field a {
  font-size: 16px;
}

#jstore-css #lsp-block-order-form input,
#jstore-css #lsp-block-order-form textarea,
#jstore-css #lsp-block-order-form select {
  border: 0;
  border-left: 2px solid #f1281e;
  background-color: #e5e5e5;
}

@media (max-width: 610px) {
  #jstore-css #lsp-block-content .lsp-form .label-row-field-select:after {
    top: 28px;
  }
  #jstore-css #lsp-block-content .lsp-form .label-row-text {
    width: auto;
  }
  #jstore-css #lsp-block-content .lsp-block-order-sum-item {
    padding-left: 10px;
  }
}

#jstore-css #lsp-block-content .lsp-block-register label .label-row-field input,
#jstore-css #lsp-block-content .lsp-block-auth label .label-row-field input {
  border: 0;
  background-color: #e5e5e5;
  border-left: 2px solid #f1281e;
}

#lsp-block-popup .lsp-block-items-popup {
  box-shadow: inset 3px 0 0 0 #f1281e;
}

#lsp-block-popup .lsp-block-items-popup .lsp-popup-item-image {
  display: block;
  background: url("../images/nophoto.png") center center no-repeat;
  background-size: cover;
}

#lsp-block-popup .lsp-block-items-popup .lsp-popup-item-image img {
  object-fit: contain;
  max-width: none;
  width: 100%;
  min-height: 300px;
}

#lsp-block-popup .lsp-block-items-popup .lsp-popup-energy-cont {
  border-top: 2px solid #d9d9d9;
}

#lsp-block-popup .lsp-block-items-popup .lsp-type-modifer-group-items-c .lsp-type-modifier-item span {
  border-left: 2px solid transparent;
}

#lsp-block-popup .lsp-block-items-popup .lsp-type-modifer-group-items-c .lsp-type-modifier-item:hover span {
  background: #d9d9d9;
  border-left: 2px solid #f1281e;
}

#lsp-block-popup .lsp-block-items-popup .lsp-type-modifer-group-items-c .lsp-type-modifier-item .lsp-button-red:hover {
  background: #f1281e;
}

#lsp-block-popup .lsp-block-items-popup .lsp-type-modifer-group-items-c .lsp-popup-count {
  font-size: 14px;
}

#lsp-block-popup .lsp-block-items-popup .lsp-popup-item-description-block {
  background: #ffffff;
  padding: 1rem;
}

#lsp-block-popup .lsp-block-items-popup .lsp-js-popup-close {
  background-size: contain;
  background-image: url(../images/close.png);
  width: 27px;
  height: 27px;
  top: 22px;
  right: 30px;
}

.header .jstore-block-search .jstore-block-search-inner {
  border: 0;
  padding: 0;
}

.header .jstore-block-search .jstore-block-search-inner form.jstore-js-search-form {
  position: relative;
}

.header .jstore-block-search .jstore-block-search-inner form.jstore-js-search-form .lsp-block-userinfo-appeal {
  display: none;
}

.header .jstore-block-search .jstore-block-search-inner form.jstore-js-search-form label.label-row {
  margin: 0;
}

.header .jstore-block-search .jstore-block-search-inner form.jstore-js-search-form label.label-row input {
  height: 40px;
  padding: 9px 50px 9px 16px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 300;
  width: 100%;
  vertical-align: middle;
  float: left;
  background: #fff;
  color: #333;
  border-radius: 25px;
  border: 1px solid #e0e2e5;
}

.header .jstore-block-search .jstore-block-search-inner form.jstore-js-search-form .lsp-block-search-order-button-cont {
  height: 30px;
  width: 28px;
  position: absolute;
  top: 7px;
  right: 20px;
  margin: 0;
}

.header .jstore-block-search .jstore-block-search-inner form.jstore-js-search-form .lsp-block-search-order-button-cont input {
  background: url("http://sdobnoe-mesto.ru/bitrix/templates/studiofact_getfood/images/sprite.png") no-repeat;
  height: 30px;
  background-position: -55px top;
  width: 28px;
  transition: none;
  color: transparent;
}

.header .jstore-block-search .jstore-block-search-inner form.jstore-js-search-form .lsp-block-search-order-button-cont input:hover {
  background-position: -100px top;
}

.jstore-header-fixed .show-menu-burger {
  display: none;
  position: relative;
  width: 26px;
  height: 21px;
  margin: 0 10px;
  float: left;
}

.jstore-header-fixed .show-menu-burger:before,
.jstore-header-fixed .show-menu-burger:after {
  content: '';
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0;
  transition: all .3s ease 0s;
}

.jstore-header-fixed .show-menu-burger span {
  position: absolute;
  background-color: #FFFFFF;
  left: 0;
  width: 100%;
  height: 3px;
  top: 9px;
  transition: all .3s ease 0s;
  opacity: 0;
}

.jstore-header-fixed .show-menu-burger:before {
  top: 0;
  opacity: 0;
}

.jstore-header-fixed .show-menu-burger:after {
  bottom: 0;
  opacity: 0;
}

.jstore-header-fixed .show-menu-burger.active span {
  transform: scale(0);
  opacity: 1;
}

.jstore-header-fixed .show-menu-burger.active:before {
  transform: rotate(45deg);
  top: 9px;
  opacity: 1;
}

.jstore-header-fixed .show-menu-burger.active:after {
  transform: rotate(-45deg);
  bottom: 9px;
  opacity: 1;
}

.jstore-header-fixed {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  right: 0;
  background: #e5e5e5;
  z-index: 100;
}

.jstore-header-fixed .jstore-header-wrap {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  height: 50px;
  max-height: 50px;
  align-items: center;
}

.jstore-header-fixed .jstore-header-wrap .dropdown-menu-burger-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.jstore-header-fixed .jstore-header-wrap a.all-menu {
  float: left;
  width: auto;
  border: 0;
  font-size: 16px;
  padding: .25rem 1rem .25rem .5rem;
}

.jstore-header-fixed .jstore-header-wrap a.all-menu:hover {
  color: #9e120a;
}

.jstore-header-fixed .jstore-header-wrap a.logo {
  display: inline-flex;
  flex-grow: 1;
  height: auto;
  margin: 0 auto;
}

.jstore-header-fixed .jstore-header-wrap .dropdown-menu-burger-content .jstore-header-menu {
  margin: 0;
  min-height: 0;
}

.jstore-header-fixed .jstore-header-wrap .dropdown-menu-burger-content .jstore-header-menu li {
  margin: 0;
  position: relative;
  padding: .25rem 1rem .25rem .5rem;
  text-transform: uppercase;
}

.jstore-header-fixed .jstore-header-wrap #lsp-block-tree--header {
  position: relative;
  display: flex;
}

.jstore-header-fixed .jstore-header-wrap .lsp-js-menu-childs {
  background-color: #e5e5e5;
  position: absolute;
  margin: 0;
  top: 35px;
  display: flex !important;
  flex-direction: column;
  visibility: hidden;
  opacity: 0;
  transition: all .5s linear;
}

.jstore-header-fixed .jstore-header-wrap .lsp-js-menu-childs:after {
  content: "";
  display: table;
  clear: both;
}

.jstore-header-fixed .jstore-header-wrap .lsp-js-menu-childs li {
  transition: .5s linear;
}

.jstore-header-fixed .jstore-header-wrap .lsp-js-menu-childs li:before {
  content: '';
  margin: 0;
}

.jstore-header-fixed .jstore-header-wrap .lsp-js-menu-childs li .lsp-js-menu-childs {
  top: 0;
  display: flex;
  flex-direction: column;
  left: 100%;
  width: max-content;
}

#lsp-block-tree--header li:hover > .lsp-js-menu-childs {
  display: flex;
  visibility: visible;
  opacity: 1;
  transition: 1s linear;
}

.jstore-header-fixed.fixed {
  display: block;
  position: fixed;
}

.jstore-header-fixed a.logo img {
  height: 40px !important;
  margin: auto !important;
  object-fit: contain;
}

#jstore-css .jstore-tag.jstore-block-search .jstore-block-search-inner {
  margin: 0;
}

.jstore-header-fixed ul.jstore-header-fixed-dropdown {
  margin: 0 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: auto;
}

.jstore-header-fixed ul.jstore-header-fixed-dropdown li:last-child {
  margin-left: 3px;
}

.jstore-header-fixed ul.jstore-header-fixed-dropdown li {
  display: inline-block;
  cursor: pointer;
  margin: 0 0 0 18px;
}

.jstore-header-fixed ul.jstore-header-fixed-dropdown li:before {
  content: '';
  margin: 0;
}

.jstore-header-fixed ul.jstore-header-fixed-dropdown li i {
  color: #ffffff;
  font-size: 22px;
  cursor: pointer;
}

.jstore-header-fixed ul.jstore-header-fixed-dropdown li span {
  font-size: 17px;
  font-weight: 600;
}

.jstore-header-fixed ul.jstore-header-menu li {
  float: left;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0;
  margin: 0;
}

.jstore-header-fixed ul.jstore-header-menu li:before {
  content: '';
  margin: 0;
}

.jstore-header-fixed ul.jstore-header-menu li a {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0;
  color: #fff;
  margin: 0 10px 0 0;
  line-height: 42px;
}

.jstore-header-fixed .jstore-header-fixed-dropdown li.amount-goods #cart-fixed .lsp-cart-items-list,
.jstore-header-fixed .jstore-header-fixed-dropdown li.amount-goods #cart-fixed .lsp-info-message-bottom,
.jstore-header-fixed .jstore-header-fixed-dropdown li.amount-goods #cart-fixed .lsp-info-message .jstore-js-cart-total-count-name {
  display: none;
  margin: 0;
  padding: 0;
}

.jstore-header-fixed .jstore-header-fixed-dropdown li.amount-goods #cart-fixed .lsp-block-cart-inner,
.jstore-header-fixed .jstore-header-fixed-dropdown li.amount-goods #cart-fixed .lsp-info-message {
  margin: 0;
  padding: 0;
}

.jstore-header-fixed .jstore-header-fixed-dropdown li.amount-goods #cart-fixed .lsp-info-message a.jstore-tag {
  display: none;
}

.jstore-header-fixed .jstore-header-fixed-dropdown li.amount-goods #cart-fixed .lsp-info-message {
  font-size: 0;
  align-items: center;
  display: flex;
}

.jstore-header-fixed #lsp-block-cart {
  overflow-y: auto;
  border: 1px solid #f1281e;
}

.jstore-header-fixed .jstore-tag.lsp-block-cart .lsp-block-cart-inner {
  margin: 0;
  border: 0;
}

.jstore-header-fixed #lsp-block-cart--header::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #e5e5e5;
}

.jstore-header-fixed #lsp-block-cart--header::-webkit-scrollbar {
  width: 6px;
  background-color: #e5e5e5;
}

.jstore-header-fixed #lsp-block-cart--header::-webkit-scrollbar-thumb {
  background-color: #f1281e;
}

.jstore-header-fixed .jstore-block-search,
.jstore-header-fixed #lsp-block-userinfo,
.jstore-header-fixed .dropdown-cart,
.jstore-header-fixed .jstore-header-fixed-dropdown li.amount-goods #cart-fixed a[href="#!/cart"] {
  display: none;
}

.open {
  display: block !important;
}

.jstore-header-fixed .fixed-search,
.jstore-header-fixed .fixed-signin,
.jstore-header-fixed .fixed-cart {
  position: relative;
}

.jstore-header-fixed .fixed-search div i,
.jstore-header-fixed .fixed-signin div i,
.jstore-header-fixed .fixed-cart div i {
  font-size: 25px;
}

.jstore-header-fixed .fixed-search .jstore-block-search,
.jstore-header-fixed #lsp-block-userinfo,
.jstore-header-fixed #lsp-block-cart--header {
  position: absolute;
  width: 270px;
  background-color: #e5e5e5;
  overflow: auto;
  height: auto;
  right: 0;
  top: 36px;
  z-index: 2;
}

.jstore-header-fixed #lsp-block-cart--header {
  border: 1px solid #f1281e;
}

.jstore-header-fixed #lsp-block-userinfo .lsp-block-userinfo-inner {
  margin: 0;
}

#jstore-css .content-left-side {
  flex: 0 0 220px;
  order: 1;
}

#jstore-css .content-left-side .lsp-block-item .lsp-block-item-image {
  display: flex;
  align-self: center;
}

#jstore-css .content-left-side .lsp-block-item .lsp-block-item-description {
  height: auto;
  max-height: 75px;
  margin-bottom: 10px;
}

#jstore-css .content-left-side .lsp-block-item .lsp-block-item-price {
  position: static;
  display: flex;
  align-self: flex-start;
  justify-content: flex-end;
  align-items: center;
  order: 4;
}

#jstore-css .content-left-side .lsp-block-item .lsp-block-item-price .lsp-block-item-measurement {
  padding-left: 3px;
  font-size: 18px;
}

#jstore-css .content-left-side .lsp-block-item .lsp-block-item-add-to-cart {
  order: 5;
  position: absolute;
  bottom: 6px;
  right: 0;
  align-self: flex-end;
  width: auto;
}

#jstore-css .content-left-side .jstore-block-search {
  padding: 16px 10px 18px 18px;
  margin: 0 0 24px 0;
  border: 1px solid #efefef;
  background: #fff;
  border-radius: 8px;
}

#jstore-css .content-left-side .jstore-block-search .jstore-block-search-inner {
  border: 0;
  padding: 0;
}

#jstore-css .content-left-side .jstore-block-search .jstore-block-search-inner .lsp-block-userinfo-appeal {
  text-transform: uppercase;
  font-weight: 800;
}

#jstore-css .content-left-side .jstore-block-search .jstore-block-search-inner .jstore-search-input {
  font-weight: 800;
}

#jstore-css .content-left-side .lsp-block-terminalinfo {
  padding: 16px 10px 18px 18px;
  margin: 0 0 24px 0;
  border: 1px solid #efefef;
  background: #fff;
  border-radius: 8px;
}

#jstore-css .content-left-side .lsp-block-terminalinfo .lsp-block-restinfo-inner {
  border: 0;
  padding: 0;
  margin: 0;
}

#jstore-css .content-left-side .lsp-block-terminalinfo .lsp-block-restinfo-inner .city-terminal-c {
  text-transform: uppercase;
  font-weight: 800;
}

#jstore-css .content-left-side .lsp-block-terminalinfo .lsp-block-restinfo-inner .city-terminal-c a.cityName {
  display: block;
  padding: 15px 0;
}

#jstore-css .content-left-side #lsp-block-userinfo {
  padding: 16px 10px 18px 18px;
  margin: 0 0 24px 0;
  border: 1px solid #efefef;
  background: #fff;
  border-radius: 8px;
}

#jstore-css .content-left-side #lsp-block-userinfo .lsp-block-userinfo-inner {
  border: 0;
  padding: 0;
}

#jstore-css .content-left-side #lsp-block-userinfo .lsp-block-userinfo-inner .lsp-block-userinfo-appeal {
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 15px;
  width: 100%;
}

#jstore-css .content-left-side #lsp-block-cart {
  padding: 16px 10px 18px 18px;
  margin: 0 0 24px 0;
  border: 1px solid #efefef;
  background-color: #fff;
  border-radius: 8px;
}

#jstore-css .content-left-side #lsp-block-cart .lsp-block-cart-inner {
  border: 0;
  padding: 0;
  margin: 0;
  min-height: 46px;
}

#jstore-css .content-left-side #lsp-block-cart .lsp-block-cart-inner .lsp-info-message {
  background-color: #ffffff;
  border-left: 2px solid #f1281e;
  font-weight: 800;
  color: #333;
  margin: 0;
  padding: 15px 0 15px 10px;
}

#jstore-css .content-left-side #lsp-block-cart .lsp-block-cart-inner .lsp-info-message a {
  font-weight: 800;
  color: #333;
  text-transform: uppercase;
}

#jstore-css .content-left-side #lsp-block-cart .lsp-block-cart-inner .lsp-info-message span {
  font-weight: 800;
  color: #333;
}

#jstore-css .content-left-side #lsp-block-cart .lsp-block-cart-inner .lsp-block-cart-item {
  margin: 0 0 10px 5px;
  padding: 5px 0 4px 3px;
  font-weight: 400;
  border-bottom: solid 2px #d9d9d9;
  border-left: solid 2px #d9d9d9;
}

#jstore-css .content-left-side #lsp-block-cart .lsp-block-cart-inner .lsp-block-cart-item .lsp-block-cart-item-name {
  font-weight: 400;
}

#jstore-css .content-left-side #lsp-block-cart .lsp-block-cart-inner .lsp-block-cart-item .lsp-block-cart-item-row-subname {
  margin-top: 15px;
}

#jstore-css .content-left-side #lsp-block-cart .lsp-block-cart-inner .lsp-block-cart-item .lsp-block-cart-item-row-subname .lsp-block-cart-item-amount-c-count,
#jstore-css .content-left-side #lsp-block-cart .lsp-block-cart-inner .lsp-block-cart-item .lsp-block-cart-item-row-subname .lap-block-cart-item-amount-c-type,
#jstore-css .content-left-side #lsp-block-cart .lsp-block-cart-inner .lsp-block-cart-item .lsp-block-cart-item-row-subname .lsp-block-cart-item-price-c em {
  color: #f1281e;
}

#jstore-css .content-left-side #lsp-block-cart .lsp-block-cart-inner .lsp-info-message-bottom {
  border-left: solid 2px #f1281e;
  padding: 5px 0;
  margin: 0;
  width: 100%;
}

#jstore-css .content-left-side #lsp-block-cart .lsp-block-cart-inner .lsp-info-message-bottom .jstore-cart-total,
#jstore-css .content-left-side #lsp-block-cart .lsp-block-cart-inner .lsp-info-message-bottom span {
  color: #333;
  font-weight: 800;
}

#jstore-css .content-left-side #lsp-block-recommendation {
  text-align: center;
  overflow: auto;
  padding: 16px 10px 18px 18px;
  margin: 0 0 24px 0;
  border: 1px solid #efefef;
  background: #ffffff;
  border-radius: 8px;
}

#jstore-css .content-left-side #lsp-block-recommendation .lsp-title {
  font-style: normal;
  background-color: #ffffff;
  margin: 0 0 0 0;
  padding: 0;
  text-align: left;
  font-size: 16px !important;
  line-height: 1.3;
  text-transform: uppercase;
}

#jstore-css .content-left-side #lsp-block-recommendation .lsp-js-recommendation-items {
  background-color: #ffffff;
}

#jstore-css .content-left-side #lsp-block-recommendation .lsp-js-recommendation-items .lsp-block-item {
  border: 0;
  padding: 10px -0px;
  background-color: #ffffff;
}

#jstore-css .content-left-side #lsp-block-recommendation .lsp-js-recommendation-items .lsp-block-item .lsp-block-item-image-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

#jstore-css .content-left-side #lsp-block-gift {
  display: flex;
  flex: 0 1 100%;
  padding: 16px 10px 18px 18px;
  margin: 0 0 24px 0;
  border: 1px solid #efefef;
  background: #ffffff;
  border-radius: 8px;
}

#jstore-css .content-left-side #lsp-block-gift .lsp-block-gift-inner {
  background: #ffffff;
  padding: 0;
  width: 100%;
  border: 0;
}

#jstore-css .content-left-side #lsp-block-gift .lsp-block-gift-inner .lsp-block-gift-title {
  margin: 0 0 5px 0;
}

#jstore-css .content-left-side #lsp-block-happy-hour {
  display: flex;
  flex: 0 1 100%;
  padding: 16px 10px 18px 18px;
  margin: 0 0 24px 0;
  border: 1px solid #efefef;
  background: #ffffff;
  border-radius: 8px;
}

#jstore-css .content-left-side #lsp-block-happy-hour .lsp-block-hh-inner {
  padding: 0;
  margin: 0;
  width: 100%;
  border: 0;
  background-color: #ffffff;
}

#jstore-css .content-left-side .nav-menu,
#jstore-css .content-left-side .lsp-block-recommendation-wrapper,
#jstore-css .content-left-side .lsp-block-happy-hour-wrapper,
#jstore-css .content-left-side .lsp-block-gift-wrapper,
#jstore-css .content-left-side .lsp-block-cart-wrapper {
  margin-top: 10px;
  position: relative;
}

#jstore-css .content-left-side .menu-more,
#jstore-css .content-left-side .recommendation-more,
#jstore-css .content-left-side .happy-hour-more,
#jstore-css .content-left-side .lsp-block-gift-more,
#jstore-css .content-left-side .cart-more,
#jstore-css .content-left-side .cart-to-order {
  display: none;
  position: absolute;
  height: auto;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  color: #333;
  z-index: 3;
  background-color: #d9d9d9;
  padding: 12px;
  font-size: 18px;
  text-transform: uppercase;
  margin-left: auto;
}

#jstore-css .content-left-side .cart-more {
  right: 130px;
}

#show-nav {
  display: none;
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  text-align: center;
  padding: 10px 0;
  position: relative;
  width: 100%;
  background-color: transparent;
  border: 1px solid #f1281e;
}

#show-nav:before,
#show-nav:after {
  content: '';
  width: 14px;
  height: 3px;
  background-color: #f1281e;
  position: absolute;
  top: 21px;
  transition: all 0.3s ease 0s;
}

#show-nav:before {
  transform: rotate(40deg);
  left: 10px;
}

#show-nav:after {
  transform: rotate(-40deg);
  left: 19px;
}

#show-nav.active:before,
#show-nav.active:after {
  background-color: #f1281e;
}

#show-nav.active:before {
  transform: rotate(-40deg);
}

#show-nav.active:after {
  transform: rotate(40deg);
}

.show-nav:hover {
  background-color: #ffffff;
  cursor: pointer;
}

.open {
  display: block !important;
}

#jstore-css .content-left-side .lsp-block-item {
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  margin: 0 0 10px 0;
  width: 100%;
  height: auto;
}

.content-right-side {
  flex: 1 1 auto;
  width: 100%;
  padding: 0 0 0 10px;
  order: 2;
}

.nav-menu {
  width: 100%;
}

a.all-menu {
  width: 100%;
  background-color: #e5e5e5;
  font-family: "ComicSansMS", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  padding: 12px 10px;
  color: #333;
  border-left: 2px solid #f1281e;
}

#jstore-css .content-left-side #lsp-block-tree {
  margin: 0 0 15px 0;
  background: #e5e5e5;
}

#jstore-css .content-left-side #lsp-block-tree ul {
  min-height: 0;
  margin-bottom: 5px;
}

#lsp-block-tree li {
  margin: 0;
  padding: 0;
}

#lsp-block-tree li:before {
  content: '';
}

#lsp-block-tree li a {
  border-left: 2px solid #f1281e;
  padding: 5px 0 5px 15px;
}

#lsp-block-tree li a:hover {
  border-color: #f1281e;
}

#jstore-css .nav-menu a.all-menu:hover {
  color: #9e120a;
}

#jstore-css #lsp-block-content .jstore-tag.lsp-block-tags-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 0 0 0;
  padding: 16px 10px 18px 18px;
  border: 1px solid #efefef;
  background: #ffffff;
  border-radius: 8px;
}

#jstore-css #lsp-block-content .jstore-tag.lsp-block-tags-filter .lsp-block-tags-filter-item {
  flex: 0 0 155px;
  margin-left: 5px;
}

#lsp-block-content .lsp-js-block-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 -1.5rem 0 -1rem;
}

#jstore-css #lsp-block-content .lsp-js-block-items .lsp-block-item {
  background-color: #ffffff;
  float: none;
  border: 0;
  border-radius: 5%;
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  align-content: flex-start;
  flex-wrap: wrap;
  width: calc(33% - 2rem);
  height: auto;
  margin: 1rem;
  padding: 0;
  text-align: center;
  transition: all 1s ease;
}

#jstore-css #lsp-block-content .lsp-js-block-items .lsp-block-item .lsp-block-item-image {
  order: 1;
  align-self: center;
  width: 100%;
  position: relative;
}

#jstore-css #lsp-block-content .lsp-js-block-items .lsp-block-item .lsp-block-item-image:hover .lsp-block-item-image-link::after {
  opacity: 1;
  transition: opacity .3s;
}

#jstore-css #lsp-block-content .lsp-js-block-items .lsp-block-item .lsp-block-item-image:hover::after {
  opacity: 1;
  transition: opacity .3s;
}

#jstore-css #lsp-block-content .lsp-js-block-items .lsp-block-item .lsp-block-item-image::after {
  opacity: 0;
  content: '';
  color: #ffffff;
  position: absolute;
  padding: 12px 0;
  border: 1px solid #fff;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
  border-top-right-radius: 5%;
  border-top-left-radius: 5%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1;
  margin: auto;
}

#jstore-css #lsp-block-content .lsp-js-block-items .lsp-block-item .lsp-block-item-image .lsp-block-item-image-link {
  background: url("../images/nophoto.png") center center no-repeat;
  background-size: cover;
  border-radius: 5% 5% 0 0;
  display: block;
  width: 100%;
  height: auto;
  min-height: 240px;
}

#jstore-css #lsp-block-content .lsp-js-block-items .lsp-block-item .lsp-block-item-image .lsp-block-item-image-link .lsp-block-item-tags {
  z-index: 3;
}

#jstore-css #lsp-block-content .lsp-js-block-items .lsp-block-item .lsp-block-item-image .lsp-block-item-image-link::after {
  opacity: 0;
  background: rgba(0, 0, 0, 0.5);
  content: 'Быстрый просмотр';
  color: #ffffff;
  cursor: pointer;
  position: absolute;
  padding: 12px 0;
  border-radius: 20px;
  border: 1px solid #fff;
  width: 174px;
  height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  z-index: 2;
  margin: auto;
}

#jstore-css #lsp-block-content .lsp-js-block-items .lsp-block-item .lsp-block-item-image .lsp-block-item-image-link:hover::after {
  color: #ffffff;
  border: 1px solid #f1281e;
  background: #f1281e;
}

#jstore-css #lsp-block-content .lsp-js-block-items .lsp-block-item .lsp-block-item-image .lsp-block-item-image-link img {
  object-fit: contain;
  max-width: none;
  width: 100%;
  min-height: 240px;
}

#jstore-css #lsp-block-content .lsp-js-block-items .lsp-block-item .lsp-block-item-name {
  order: 2;
  height: auto;
  align-items: center;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  margin: 0;
  padding: 24px 15px 0;
  text-align: left;
}

#jstore-css #lsp-block-content .lsp-js-block-items .lsp-block-item .lsp-block-item-name a {
  font-family: "ComicSansMS", sans-serif;
  color: rgba(51, 51, 51, 0.8);
  text-decoration: none;
  white-space: normal;
  padding: 0 0 0 0;
  font-size: 18px;
  word-break: break-word;
  font-weight: 300;
  line-height: 1.3;
  letter-spacing: 0.36px;
}

#jstore-css #lsp-block-content .lsp-js-block-items .lsp-block-item .lsp-block-item-description {
  width: 100%;
  order: 4;
  margin: 5px 0 5px 0;
  padding: 0 15px;
  height: auto;
  flex-grow: 1;
  text-align: justify;
  font-family: "ComicSansMS", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: 1.2px;
  max-height: 90px;
  word-wrap: break-word;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  position: relative;
}

#jstore-css #lsp-block-content .lsp-js-block-items .lsp-block-item .lsp-block-item-description p {
  padding-top: 15px;
}

#jstore-css #lsp-block-content .lsp-js-block-items .lsp-block-item .lsp-block-item-price {
  position: static;
  display: flex;
  align-self: flex-start;
  padding: 0 0 0 15px;
  flex-grow: 1;
  justify-content: center;
  min-height: 37px;
  margin: 1rem 0 1rem 0;
  flex-wrap: wrap;
  align-items: center;
  font-size: 18px;
  font-weight: 900;
  order: 5;
}

#jstore-css #lsp-block-content .lsp-js-block-items .lsp-block-item .lsp-block-item-price span,
#jstore-css #lsp-block-content .lsp-js-block-items .lsp-block-item .lsp-block-item-price .lsp-block-item-measurement {
  font-family: "ComicSansMS", sans-serif;
  font-size: 18px;
  font-weight: 900;
  padding-left: 3px;
}

#jstore-css #lsp-block-content .lsp-js-block-items .lsp-block-item .lsp-block-item-add-to-cart {
  background: none;
  order: 5;
  position: absolute;
  right: 10px;
  bottom: 6px;
  font-size: 0;
  display: flex;
  align-items: center;
  width: 56px;
  height: 56px;
  vertical-align: middle;
  text-align: center;
  border-radius: 50%;
}

#jstore-css #lsp-block-content .lsp-js-block-items .lsp-block-item .lsp-block-item-add-to-cart:hover {
  background-color: #f1281e;
}

#jstore-css #lsp-block-content .lsp-js-block-items .lsp-block-item .lsp-block-item-add-to-cart:hover::after {
  background-position: -69px 758px;
}

#jstore-css #lsp-block-content .lsp-js-block-items .lsp-block-item .lsp-block-item-add-to-cart::after {
  content: '';
  width: 24px;
  height: 26px;
  display: block;
  background: url(http://sdobnoe-mesto.ru/bitrix/templates/studiofact_getfood/images/sprite.png);
  background-position: -9px 758px;
}

.lsp-block-item-tags:hover ~ .lsp-block-item-image-link {
  display: none;
}

/* Large desktops and laptops */
@media (max-width: 1200px) {
  #jstore-css #lsp-block-content .lsp-js-block-items .lsp-block-item {
    width: calc(50% - 1rem);
  }
}

@media (max-width: 1000px) {
  #jstore-css .jstore-header-fixed .jstore-header-wrap .jstore-header-fixed-dropdown {
    font-size: 20px;
  }
  #jstore-css #lsp-block-content .lsp-js-block-items .lsp-block-item .lsp-block-item-name a {
    font-size: 16px;
    line-height: 1;
  }
}

@media (max-width: 992px) {
  .jstore-header-fixed .show-menu-burger {
    display: block;
    float: left;
  }
  .jstore-header-fixed .show-menu-burger:before,
  .jstore-header-fixed .show-menu-burger span, .jstore-header-fixed .show-menu-burger:after {
    opacity: 1;
  }
  .jstore-header-fixed .dropdown-menu-burger-content {
    position: relative;
    width: 0;
  }
  .jstore-header-fixed .dropdown-menu-burger-content a.all-menu {
    display: none;
  }
  .jstore-header-fixed .dropdown-menu-burger-content #lsp-block-tree--header {
    display: none;
    background-color: #e5e5e5;
    top: 67px;
    left: 0;
    border: 1px solid #f1281e;
    position: relative;
  }
  .jstore-header-fixed .dropdown-menu-burger-content #lsp-block-tree--header .lsp-js-menu-childs {
    left: 100%;
    top: 0;
  }
  .jstore-header-fixed ul.jstore-header-menu li {
    float: none;
  }
  #jstore-css #lsp-block-content .lsp-js-block-items .lsp-block-item .lsp-block-item-name {
    width: 50%;
  }
  #lsp-block-popup .lsp-popup-cont {
    width: 764px;
    margin-left: -382px;
  }
  #lsp-block-items-popup .lsp-popup-item-image-c,
  #lsp-block-items-popup .lsp-popup-item-description-block {
    margin: 1rem auto;
    float: none;
    height: auto;
  }
  #lsp-block-items-popup .lsp-popup-item-image {
    height: 300px;
    padding: 0;
  }
  #jstore-css #lsp-block-content .lsp-block-cartpage-inner {
    width: 100%;
  }
}

@media (max-width: 767px) {
  #jstore-css .container {
    max-width: none;
  }
  #jstore-css .content-right-side {
    padding: 0;
    margin: 20px 0 0 0;
  }
  #jstore-css #lsp-block-content .lsp-js-block-items .lsp-block-item {
    flex: 0 1 100%;
  }
  #lsp-block-popup .lsp-popup-cont {
    width: 100%;
    margin-left: -50%;
  }
  #lsp-block-content .lsp-form .label-row.label-row-half {
    width: 100%;
  }
  .jstore-tag.lsp-block-cartpage-items tr td:first-child,
  .jstore-tag.lsp-block-cartpage-items tr th:first-child {
    display: none;
  }
}

@media (max-width: 665px) {
  #lsp-block-items-popup .lsp-modifier-item {
    display: inline-grid;
  }
  #lsp-block-items-popup .lsp-modifier-summ-c {
    margin-right: 30px;
  }
  #lsp-block-items-popup .lsp-modifier-name-c {
    margin-bottom: 5px;
  }
  #lsp-block-items-popup .lsp-popup-item-description-block {
    width: auto;
    padding: 0 30px;
  }
}

@media (max-width: 610px) {
  .jstore-header-fixed .show-menu-burger {
    margin-right: 10px;
  }
  .jstore-header-fixed a.logo {
    display: none;
  }
  #jstore-css {
    flex-direction: column;
  }
  #jstore-css #lsp-block-tree--header .lsp-js-menu-childs {
    width: 100%;
    word-break: break-word;
    margin: 0;
  }
  #jstore-css .content-left-side {
    flex: 0 0 auto;
  }
  #jstore-css .content-left-side #lsp-block-tree,
  #jstore-css .content-left-side .lsp-js-recommendation-items,
  #jstore-css .content-left-side .lsp-cart-items-list,
  #jstore-css .content-left-side .lsp-info-message-bottom,
  #jstore-css .content-left-side .lsp-block-hh-product-title,
  #jstore-css .content-left-side .lsp-block-hh-product-image,
  #jstore-css .content-left-side .lsp-block-hh-product-desc,
  #jstore-css .content-left-side .lsp-block-hh-product-prices,
  #jstore-css .content-left-side .lsp-block-hh-countdown-title,
  #jstore-css .content-left-side .lsp-block-hh-countdown-time,
  #jstore-css .content-left-side .lsp-block-hh-add-to-cart,
  #jstore-css .content-left-side .lsp-block-js-gift-items,
  #jstore-css .content-left-side .lsp-block-gift-accept {
    display: none;
  }
  #jstore-css .content-left-side .lsp-block-hh-title {
    display: block;
  }
  #jstore-css .content-left-side .menu-more,
  #jstore-css .content-left-side .recommendation-more,
  #jstore-css .content-left-side .happy-hour-more,
  #jstore-css .content-left-side .lsp-block-gift-more,
  #jstore-css .content-left-side .cart-more,
  #jstore-css .content-left-side .cart-to-order {
    display: flex;
  }
  #jstore-css .content-left-side #lsp-block-tree .lsp-js-menu-childs {
    width: 100%;
    word-break: break-all;
    margin: 0;
  }
  #jstore-css .content-left-side #lsp-block-tree .lsp-js-menu-childs li a {
    font-size: 18px;
  }
  #jstore-css .content-left-side #lsp-block-tree .lsp-js-menu-childs li ul li a {
    font-size: 14px;
  }
  #jstore-css .content-right-side {
    padding: 0;
    margin: 20px 0 0 0;
  }
  #lsp-block-popup .lsp-popup-cont {
    transform: translateY(-10px);
    overflow: auto;
    width: 100vw;
    height: 100vh;
    padding: 10px;
  }
  #lsp-block-items-popup .lsp-modifer-group-items,
  #lsp-block-items-popup .lsp-js-modifiers-container {
    text-align: center;
  }
  #lsp-block-items-popup .lsp-popup-item-description-block {
    padding: 0 10px;
  }
  #lsp-block-content .lsp-form .label-row-field, .jstore-tag .lsp-form .label-row-field {
    margin: 0;
  }
  .nav-menu,
  .lsp-block-recommendation-wrapper,
  .lsp-block-cart-wrapper {
    background-color: #e5e5e5;
  }
  #jstore-css .content-left-side .jstore-block-search {
    position: relative;
    height: 46px;
    margin-bottom: 10px;
  }
  #jstore-css .content-left-side .jstore-block-search .jstore-block-search-inner {
    height: 100%;
    padding: 1px 10px 0 10px;
  }
  #jstore-css .content-left-side .jstore-block-search .jstore-block-search-inner .jstore-js-search-form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
  }
  #jstore-css .content-left-side .jstore-block-search .jstore-block-search-inner .jstore-js-search-form .lsp-block-userinfo-appeal {
    display: none;
  }
  #jstore-css .content-left-side .jstore-block-search .jstore-block-search-inner .jstore-js-search-form .label-row {
    flex: 1 1 auto;
    margin: 0;
  }
  #jstore-css .content-left-side .jstore-block-search .jstore-block-search-inner .jstore-js-search-form .label-row .label-row-field-search input {
    padding-right: 16%;
  }
  #jstore-css .content-left-side .jstore-block-search .jstore-block-search-inner .jstore-js-search-form .lsp-block-search-order-button-cont input {
    height: 100%;
    border-radius: 0;
  }
  #lsp-block-userinfo .lsp-block-userinfo-inner .lsp-block-userinfo-appeal {
    float: left;
    padding-right: 20px;
  }
  .nav-menu {
    background-color: #ffffff;
    margin-bottom: 10px;
    position: relative;
  }
  .nav-menu #lsp-block-tree {
    display: none;
  }
  .nav-menu #lsp-block-tree li {
    text-align: center;
    text-transform: uppercase;
  }
  .nav-menu #lsp-block-tree li a {
    font-size: 24px;
    padding: 0;
    width: 100%;
  }
  .nav-menu #lsp-block-tree li ul li {
    border: 1px solid #e5e5e5;
    margin: 2px 10px;
  }
  .lsp-block-recommendation-wrapper #lsp-block-recommendation .lsp-js-recommendation-items {
    display: none;
  }
}

@media (max-width: 580px) {
  #jstore-css .content-left-side .cart-more {
    font-size: 0;
  }
  #jstore-css .content-left-side .cart-more span.arrow {
    font-size: 18px;
  }
}

@media (max-width: 520px) {
  #jstore-css .content-left-side #lsp-block-recommendation {
    text-align: left;
  }
}

@media (max-width: 400px) {
  .jstore-header-fixed-dropdown .fixed-search .jstore-block-search {
    width: 200px;
  }
  .jstore-header-fixed-dropdown #lsp-block-userinfo {
    width: auto;
  }
  #jstore-css .content-left-side #lsp-block-userinfo .lsp-block-userinfo-inner .lsp-block-userinfo-appeal {
    float: none;
  }
  #jstore-css .content-left-side .nav-menu .menu-more {
    font-size: 0;
  }
  #jstore-css .content-left-side .nav-menu .menu-more span.arrow {
    font-size: 18px;
  }
  #jstore-css .content-left-side .lsp-block-cart-wrapper .cart-more {
    right: 0;
  }
  #jstore-css .content-left-side .lsp-block-cart-wrapper a.cart-to-order {
    display: none;
  }
  #jstore-css .content-left-side .lsp-block-recommendation-wrapper .recommendation-more {
    font-size: 0;
  }
  #jstore-css .content-left-side .lsp-block-recommendation-wrapper .recommendation-more span.arrow {
    font-size: 18px;
  }
  #jstore-css .content-left-side .lsp-block-happy-hour-wrapper .happy-hour-more {
    font-size: 0;
  }
  #jstore-css .content-left-side .lsp-block-happy-hour-wrapper .happy-hour-more span.arrow {
    font-size: 18px;
  }
  #jstore-css .content-left-side .lsp-block-gift-wrapper .lsp-block-gift-more {
    font-size: 0;
  }
  #jstore-css .content-left-side .lsp-block-gift-wrapper .lsp-block-gift-more span.arrow {
    font-size: 18px;
  }
}

/*# sourceMappingURL=mystyle.css.map */
